.lista_de_favoritos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_jogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  height: 300px;
  background-color: #8763a5;
  margin: 10px;
  border: 10px solid #e1d5eb;
  border-radius: 20px;
}

.card_jogo p {
  font-size: 30px;
}

.card_jogo button {
  border-radius: 80px;
  background-color: #3f0071;
  border: 5px solid #bf92e4;
  width: 250px;
  height: 50px;
  color: #f5f4f7;
  font-family: FreeMono, monospace;
  font-size: 20px;
}
