
/* O transform permite que a gente aplique diferentes alterações ao nosso elemento HTML 

   Podemos aumentar de tamanho, mover de um lado para o outro, girar, alterar a cor...
   No código abaixo, assim que o mouse passar sob o elemento o tranform vai 
   aumentar o tamanho do elemento em 10% (1.1) e mudar a cor de fundo para vermelho.

*/

.button {
  background-color: blue;
}

.button:hover {
  background-color: red;
  transform: scale(1.1);

}


/* Mas como vcoês podem vê, a animação não tem um efeito muito suave
Para isso, aplicamos as propriedades de transição, utilizando o nome "transition"

Com o transition, eu defino como a animação vai ocorrer:
     1. Sem parar?
     2. Por quanto tempo?
     3. Como vai ocorrer? (linear, ease-in, ease-out, etc)
     4. De quanto que será o atraso? (por padrão, 0 segundos. Ou seja, começa na hora)

*/


.button {
  background-color: blue;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  background-color: red;
  transform: scale(1.1);
}

/* Com esse código podemos aplicar uma transição não só ao transform, mas também à todas as propriedades que vão estão alterando
   E, nesse caso, para além do tamanho, a cor de fundo também é alterada!
*/

/* 
 
   1. Transform: propriedade - a animação que eu criei
   2. 0.5s: duração da animação
   3. ease-in-out: tipo da animação - começa devagar, acelera no meio e desacelera no final (podemos pensar em um ritmo)

*/


/* 

No nosso código, vamos utilizar a propriedade <animation>
Ela, diferente do transition, não precisa de um gatilho para funcionar!   

Por exemplo, no código abaixo, eu posso definir quais propriedades serão alteradas em determinado tempo

*/


.button {
  background-color: blue;
  animation: exemplo 2.5s ease-in-out infinite;
}


@keyframes exemplo {
    0% {
        background-color: blue;
        transform: scale(1);
    }
    100% {
        background-color: red;
        transform: scale(1.1);
    }
}

/* Como vocês podem vê no código acima, a animação acontece instantaneamente 
   E bem rápido também!

*/

@keyframes exemplo {
    0% {
        background-color: blue;
        transform: scale(1);
    }
    50% {
        background-color: green;
        transform: scale(1.5);
    }
    100% {
        background-color: red;
        transform: scale(1.1);
    }
}

@keyframes exemplo {
    0% {
        background-color: blue;
        transform: scale(1);
    }
    50% {
        background-color: green;
        transform: translateX(100px);
    }
    60% {
        background-color: yellow;
        transform: translateX(100px);
    }
    100% {
        background-color: red;
        transform: translateY(100px);
        /* transform: translateX(100px) scale(1.1); */
    }
}