.section_jogo {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.jogo div {
  width: 1000px;
  height: 380px;
  overflow: hidden;
  position: absolute;
  border: 2px solid black;
}

.cenario {
  position: relative;
  border: 2px solid black;
  background-image: url('cenario.jpg'); 
  background-repeat: repeat-x; 
  animation: moverCenario 2s linear infinite;
}

@keyframes moverCenario {
  0% {
    background-position: 0px; 
  }
  100% {
    background-position: -2000px; 
  }
  
}

.mario {
  position: absolute;
  height: 100px;
  width: 100px;
  bottom: 0px;
  left: 500px;
}

.pine {
  height: 100px;
  width: 100px;
  position: absolute;
  animation: movimentacao 2s linear infinite;
  bottom: 0px;
}

.jump {
  animation: jump 0.5s linear;
}

.gameOver {
  animation: none;  
}
 
@keyframes jump {
  0% {
    bottom: 0px;
  }
  50%{
    bottom: 180px;
  }
  100% {
    bottom: 0px;
  }
}


@keyframes movimentacao {
  0% {
    left: -700px;
  }
  50% {
    left: 900px;
  }
  100% {
    left: 2000px;
  }
}

.reiniciar_jogo{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px dashed #80ddda;
  color: white;
  height: 200px;
  width: 200px;
  background-color: #7cc6fe;
}

.reiniciar_jogo button {
  background-color: #A8DADC;
  height: 40px;
  width: 150px;
}
